$brand-primary:         #2469FF !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;
$brand-yellow: 			#EEFF05 !default;

$font-family-base:		"Open Sans", Helvetica, Arial, sans-serif !default;
$font-family-alt:		"Nunito", sans-serif !default;