* {
	box-sizing: border-box;
}
body {
	font-family: $font-family-alt;
	background: url(../images/bg.png);
}
.container {
	max-width: 768px;
	margin: auto;
}
audio {
	display: none;
}
input, button {
	outline: none;
}
.button {
	display: inline-block;
	text-decoration: none;
	padding: 12px 25px;
	border-radius: 4px;
	font-size: 18px;

	&--yellow {
		background-color: $brand-yellow;
		color: darken($brand-primary, 15%);
	}
}