.game-header {
	@include clearfix();
	background: rgba(#000, .40);
}
.launch-settings {
	display: block;
	width: 65px;
	height: 65px;
	font-size: 45px;
	text-align: center;
	line-height: 65px;
	cursor: pointer;
	color: #D9D9D9;
	float: left;
}
.new-game {
	@extend .button;
	@extend .button--yellow;
	float: left;
	border-radius: 0;
	padding-top: 0;
	padding-bottom: 0;
	height: 65px;
	line-height: 65px;
}
.hint {
	color: white;
	padding: 0 30px;
	font-size: 17px;
	line-height: 65px;
}
.guessed-array {
	float: right;
	line-height: 65px;
	padding: 0 10px;
	text-align: center;
	min-width: 100%;
	background-color: rgba(#000, .40);

	span {
		color: white;
		display: inline-block;
		text-decoration: line-through;
		padding: 0 5px;
		font-size: 20px;

	}
	@include min-width(420px) {
		min-width: 150px;
	}
}
.score {
	float: right;
	text-align: center;
	font-size: 16px;
	height: 65px;
	padding: 9.5px 10px;
	line-height: 1;
	color: white;

	span {
		display: block;
	}
	.guesses-remaining {
		font-size: 30px;
		font-weight: bold;
	}
	&.is-green {
		background-color: $brand-success;
	}
}